header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightblue;
}

header > h1 { 
    font-size: 60px;
    padding-top: 50px;
    font-family: 'Bebas Neue', cursive;
}

header > p {
    font-size: 20px;
    padding: 15px 200px 20px 200px;
    font-family: 'Roboto', sans-serif;
}

.employee-card {
    margin-top: 50px
}

.name-bg {
    background-color: lightcoral;
}